
// Type
$base-font-family: 'Josefin Slab', serif;
$base-line-height: 2;
$base-font-size: 24px;
$base-font-weight: 400;

$heavy-font-size: 700;

$colors: (
  primary: #756C83,
  background: #FBFBFB,
  secondary: #B9E1DC,
  accent: #F38181
);
